/* shimmer animation */
main {
  --shimmer-color: hsl(0, 0%, 78%);
}

main.dark {
  --shimmer-color: hsl(208, 21%, 34%);
}
.shimmer-box {
  position: relative;
  overflow: hidden;
  background: var(--shimmer-color);
}

.back-button  {
  width: 120px;
  height: 40px;
  margin-bottom: 40px;
  border-radius: 6px;
}

.shimmer-flag {
  width: 500px;
  height: 300px;
  border-radius: 6px;
}

.shimmer-title {
  width: 250px;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.shimmer-line {
  width: 300px;
  height: 18px;
  margin-bottom: 12px;
  border-radius: 4px;
}

.shimmer-border {
  width: 200px;
  height: 25px;
  margin-top: 20px;
  border-radius: 4px;
}
